<!--inicio de um produto-->
                                    <div class="col-xs-12 col-width">
                                        <div class="single-product mb-30">
                                            <div class="single-product-item clearfix">
                                                <div class="single-product-img clearfix">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/2.jpg" alt="">
                                                    </a>
                                                    <div class="wish-icon-hover text-center clearfix">
                                                        <div class="hover-text">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in tate velit esse lestiesequat  </p>
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                                <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a></li>
                                                            </ul>
                                                        </div>    
                                                    </div>
                                                </div>
                                                <div class="single-product-info clearfix">
                                                    <div class="pro-rating">  
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>  
                                                    </div> 
                                                    <div class="pro-price">
                                                        <span class="new-price">$150</span>
                                                        <span class="old-price">$180</span>
                                                    </div> 
                                                    <h3><a href="#">Electria Ostma</a></h3>  
                                                </div>
                                            </div>
                                            <div class="new-sale">
                                                <span class="red hidden-sm">sale</span>
                                            </div>    
                                        </div>
                                    </div>
                                    <!--final de um produto-->