<!--Start Product Details area  -->
                <div class="product-detail-area pt-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="zoomWrapper clearfix">
                                    <div id="img-1" class="zoomWrapper single-zoom pull-right">
                                        <a href="#">
                                            <img id="zoom1" src="img/product/novos/feminino/praia/1.jpg" data-zoom-image="img/product/novos/feminino/praia/1.jpg" alt="big-1">
                                        </a>
                                    </div>
                                    <div class="product-thumb">
                                        <ul class="p-details-slider" id="gallery_01">
                                            <li>
                                                <a class="elevatezoom-gallery" href="#" data-image="img/product/novos/feminino/praia/1.jpg" data-zoom-image="img/product/novos/feminino/praia/1.jpg"><img src="img/product/novos/feminino/praia/1.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="elevatezoom-gallery" href="#" data-image="img/product/novos/feminino/praia/2.jpg" data-zoom-image="img/product/novos/feminino/praia/2.jpg"><img src="img/product/novos/feminino/praia/2.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="elevatezoom-gallery" href="#" data-image="img/product/novos/feminino/praia/3.jpg" data-zoom-image="img/product/novos/feminino/praia/3.jpg"><img src="img/product/novos/feminino/praia/3.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="product-detail">
                                    <div class="product-title">
                                        <h2>Produto x</h2><br>
                                        <h4>$150.00 <del>180</del></h4>
                                    </div>   
                                    <h5>Status: <span> Disponivel</span> </h5>

                                    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidt utore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris    nisi ut aliquip ex ea commodo consequa uis aute irure dolor in reprehenderit. </p>
                                    <div class="size-quantity clearfix">
                                        <div class="single-size-quantity">
                                            <h4>Size:</h4>
                                            <div class="search-cat">
                                                <select name="category" class="category-items ">
                                                    <option>Select Size</option>
                                                    <option>XS</option>
                                                    <option>S</option>
                                                    <option>M</option>
                                                    <option>L</option>
                                                    <option>XL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="single-size-quantity">   
                                            <h4>Quantity:</h4>
                                            <div class="search-cat">
                                                <select name="category" class="category-items ">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                    <option>06</option>
                                                    <option>07</option>
                                                    <option>08</option>
                                                </select>
                                            </div>
                                        </div>    
                                    </div>    
                                    <div class="wish-icon-hover-list mt-30 mb-30 text-left">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" title="shopping cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" title="refresh"><i class="fa fa-refresh"></i></a></li>
                                        </ul>
                                    </div>     
                                    <div class="widget-color">
                                       <h4 class="follow">Share:</h4>
                                       <ul>
                                           <li class="facebook"><a href=""><i class="fa fa-facebook"></i></a></li>
                                           
                                        </ul>   
                                   </div>
                                </div>
                            </div>
                        </div>
                        <!--Aqui será introduzido a pagina de descrição desse produto-->
                    </div>
                </div>
                <!--End Product Details area  -->   
