  <!-- footer start -->
                <footer class="footer-area two">
                    
                    <center>
                    	<div class="footer-middle-area ptb-60">
                        <div class="container">
                            <div class="row">
                               
                              
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-18">
                                    <div class="footer-widget payment">
                                        

                                        <img src="img/payment/1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </center>
                    <div class="footer-bottom-area ptb-25">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="copyright">
                                        <p>Produzido por <span><a href="http://bootexperts.com/">Voa Studio @ 2017 </a></span>.  Idealizado  por <span><a href="http://bootexperts.com/">Ousada comunicação @ 2017 </a></span>.
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- footer end -->