<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <!--{loop:sli}--> 
        <!--{<li data-target="#carousel" data-slide-to="sli.slideto"></li>}-->
        <!--{end:sli}-->
    </ol> 
    <div class="carousel-inner">
        <!--{loop:sl}-->  
        <!--{<div class="item">}-->        
        <!--{<a href="sl.slide_link" alt="">}-->        
        <!--{<img src="thumber.php?q=85&zc=0&w=870&h=320&src=fotos/slide/sl.slide_url" width="870" height="320" alt="">}-->    
        <!--{</a>}-->                     
        <!--{<div class="carousel-caption">}-->
        <!--{<h4>sl.slide_title</h4>}-->
        <!--{<p>sl.slide_desc</p>}-->
        <!--{</div>}-->             
        <!--{</div>}-->        
        <!--{end:sl}-->
    </div>
    <a class="carousel-control left" id="ctrl-left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" id="ctrl-right" href="#carousel" data-slide="next">&rsaquo;</a>    
</div>


