 <!-- slider bottom start -->
                <div class="slider-bottom-area mt-10 text-left">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-slider-bottom">
                                    <div class="single-slider-bottom-img">
                                        <a href="product-details.html"><img src="img/slider-bottom/12.jpg" alt="product"></a>
                                    </div>
                                    <div class="single-slider-info">
                                        <h4 class="text-uppercase">Exclusivo </h4>
                                        <h2 class="text-uppercase">Item</h2>
                                        <h4 class="text-uppercase">Coleção destaque </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="single-slider-bottom">
                                    <div class="single-slider-bottom-img">
                                        <a href="product-details.html"><img src="img/slider-bottom/11.jpg" alt="product"></a>
                                    </div> 
                                    <div class="single-slider-info">
                                        <h4 class="text-uppercase">Exclusivo </h4>
                                        <h2 class="text-uppercase">Item</h2>
                                        <h4 class="text-uppercase">Coleção destaque </h4>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-3 hidden-sm col-xs-12">
                                <div class="single-slider-bottom">
                                    <div class="single-slider-bottom-img">
                                        <a href="product-details.html"><img src="img/slider-bottom/7.jpg" alt="product"></a>
                                    </div> 
                                    <div class="single-slider-info">
                                        <h4 class="text-uppercase">Exclusivo </h4>
                                        <h2 class="text-uppercase">Item</h2>
                                        <h4 class="text-uppercase">Coleção destaque </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm col-xs-12">
                                <div class="single-slider-bottom">
                                    <div class="single-slider-bottom-img">
                                        <a href="product-details.html"><img src="img/slider-bottom/10.jpg" alt="product"></a>
                                    </div> 
                                    <div class="single-slider-info">
                                        <h4 class="text-uppercase">Exclusivo </h4>
                                        <h2 class="text-uppercase">Item</h2>
                                        <h4 class="text-uppercase">Coleção destaque </h4>
                                    </div> 
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
                <!--slider bottom end -->