 <!-- offer area start -->
                <div class="offer-area ptb-130">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-6 col-sm-5 col-xs-12">
                                <div class="offer-img">
                                    <img src="img/product/novos/promocao/1.jpg" alt="product"> 
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                <div class="offer-info mt-40 text-center">
                                    <h3>PEÇA AGORA</h3>
                                    <h1>OFERTA RELAMPAGO</h1>
                                    <h5 class="hidden-xs">PRODUTO X DA COLEÇÃO Y</h5>
                                </div>
                                <div class="timer">
                                    <div data-countdown="2017/05/08" class="timer-grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- offer area end -->
               
               