 <!-- collection area start -->
                <div class="collection-area clearfix mb-90">
                    <div class="container">
                        <div class="column-left pull-left pr-16">
                            <div class="column-left-top clearfix mb-15">
                                <div class="col-left-top-left pr-8 pull-left">
                                    <a href="#">
                                        <img src="img/collection/novo/masculino/1.jpg" alt="">
                                    </a>
                                    <div class="col-left-top-left-text">
                                        <h5 class="text-uppercase">Produto Y</h5>
                                        <h3 class="text-uppercase">Vale desconto x%</h3>
                                        <h5 class="text-uppercase">Coleção feminina</h5>
                                    </div>
                                </div>
                                <div class="col-left-top-right pl-8 pull-right">
                                    <a href="#">
                                        <img src="img/collection/novo/feminino/2.jpg" alt="">
                                    </a>
                                    <div class="col-left-top-right-text text-center">
                                        <h5 class="text-uppercase">Produto X</h5>
                                        <h3>35%</h3>
                                        <h5 class="text-uppercase">Coleção Feminina</h5>
                                    </div>
                                </div>
                            </div> 
                            <div class="column-left-bottom clearfix">   
                                <div class="col-left-bottom-left pr-8 pull-left">
                                    <a href="#">
                                        <img src="img/collection/novo/feminino/1.jpg" alt="">
                                    </a>
                                    <div class="col-left-bottom-left-text">
                                         <h5 class="text-uppercase">Produto Y</h5>
                                        <h3 class="text-uppercase">Vale desconto x%</h3>
                                        <h5 class="text-uppercase">Coleção feminina</h5>
                                    </div>
                                </div>
                                <div class="col-left-bottom-right pl-8 pull-right">
                                    <a href="#">
                                        <img src="img/collection/novo/masculino/5.jpg" alt="">
                                    </a>
                                    <div class="col-left-bottom-right-text">
                                          <h5 class="text-uppercase">Produto Y</h5>
                                        <h3 class="text-uppercase">Vale desconto x%</h3>
                                        <h5 class="text-uppercase">Coleção feminina</h5>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="column-right pull-right hidden-sm hidden-xs">
                            <a href="#">
                                <img src="img/collection/novo/feminino/3.jpg" alt="">
                            </a>
                            <div class="col-right-text">
                                <h5 class="text-uppercase">Oferta <span> 25% </span> Produto Z</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- collection area end -->